* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Microsoft YaHei;
    height: 100%;
}

body {
    height: 100%;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}